<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ Quotes }}!
  </h1>
  
</div>
<h2>Welcome to Quotes project where you can get the most awesome project and also be able to add your favorite quotes.</h2>

  <h1>Quotes</h1>
  <p>Here are some of the quotes:</p>

 <div>
  
  <hr>
  <ul>
      <li *ngFor='let quote of quotes'>
        {{quote.name}}
      </li>
  </ul>
  <!-- <p *ngIf='goals.length > 5'>Your goals are too many</p> -->
</div>

<!-- <router-outlet></router-outlet> -->
<app-quote></app-quote>